body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}
.tabs {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.acc-to-pay{
    padding-bottom: 10px;

}

.acc-pay{
    padding-bottom: 10px;

}

.card-pay{
    padding-bottom: 10px;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #bdbdbd;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
}

.recipient{
    padding-bottom: 40px;
}

select {
    font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4
{
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #eee;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-left: 6px;
    padding: 2px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.tabs>label:first-of-type {
    margin-left: 0;
}


/* Стили модального окна */
.modal-header h2 {
    color: #555;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */

.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 600px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
    padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img {
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    background: #0071e3;
    color: white;
    border: #555 solid 1px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    cursor: pointer;
}

.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

.epay-btn{
    background: #181818;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    cursor: pointer;
    border: 0;

}

.card-btn{
    background: #0071e3;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    cursor: pointer;
    border: 0;

}

.card-div{
    border: 1px solid #4f574f;
    border-radius: 8px;
    max-width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}




