details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0.5em;
    width: 400px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}

summary:before {
    left: .3em;
    top: .4em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    transition: transform .5s;
}
summary {
    display:block;
    font-size:1.4em;
    cursor: pointer;
    position: relative;
    padding: .3em .3em .3em 1.4em;
}
details[open] > summary:before {
    transform: rotate(90deg);
}

summary ~ * {
    padding: 0 2em 10px 2em;
}
details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}
